<body>
    <section>
        <div id="board">
            <div>
                <ul class="navbar">
                    <li>
                        <a [routerLink]="['/']" class="btnA" style="float: left; padding-left: -50px;">Home</a>
                    </li>
                    <br />
                    <br />
                    <li>
                        <a [routerLink]="['/tasks']" class="btnA" style="float: left;">Tasks</a>
                    </li>
                    <br />
                    <br />
                    <li>
                        <a [routerLink]="['/login']" class="btnA" style="float: left;">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- <div id="title">Minesweeper</div> -->
            <br />
            <div id="'samenstellingBord'">
                <div [ngClass]="slidecontainer">
                    Aantal kolommen:
                    <input type="range" min="3" max="28" class="slider" [(ngModel)]="kolommen">
                    <span [textContent]="kolommen"></span>
                </div>
                <div [ngClass]="slidecontainer">
                    Aantal rijen:
                    <input type="range" min="3" max="28" class="slider" [(ngModel)]="rijen">
                    <span [textContent]="rijen"></span>
                </div>
                <div [ngClass]="slidecontainer">
                    Aantal bommen:
                    <input type="range" min="3" max="100" class="slider" [(ngModel)]="bommen">
                    <span [textContent]="bommen"></span>
                </div>
            </div>
            <br>
            <br>
            <div *ngIf="game">

                <div *ngFor="let rij of game.vakken; let i=index">


                    <button [ngClass]="'btn'" *ngFor="let kolom of game.vakken[0]; let j = index" (click)="game.klik(i, j);targetClick();" (contextmenu)="game.klikRechts(i, j);">


                        <span [ngSwitch]="game.vakken[i][j].toestand">

                            <span *ngSwitchCase="0">
                                <span *ngIf="game.vakken[i][j].isBom">
                                    <i class="fas fa-bomb"></i>
                                </span>
                                <span *ngIf="!game.vakken[i][j].isBom">{{ game.geefAantalBomBuren(i,j) }}</span>
                            </span>

                            <span *ngSwitchCase="1"></span>
                            <span *ngSwitchCase="2">
                                <i class="fas fa-check"></i>
                            </span>
                            <span *ngSwitchCase="3">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            <span *ngSwitchDefault></span>

                        </span>
                    </button>
                </div>
                <br />
            </div>

            <div id="time">
                <button [ngClass]="'start_timer'" (click)="start();">Start Game</button>
                <button [ngClass]="'reset_timer'" (click)="reset();">Reset Game</button>
                <br />
                <br />
                <input *ngIf="game" [ngClass]="'timer'" type="text" #tijdje [(ngModel)]="game.seconden" value="{{game.seconden}}" style="text-align: center;"
                    readonly>
                <ul id="results"></ul>
            </div>
            <h1 id="h1">Current User Identification</h1>
            <hr />
            <table id="UserData">
                <thead>
                    <th><strong>Username</strong></th>
                    <th><strong>Firstname</strong></th>
                    <th><strong>Lastname</strong></th>
                    <th><strong>Time</strong></th>
                </thead>
                <tbody>
                    <td>{{ dataUsername }}</td>
                    <td>{{ dataLastname }}</td>
                    <td>{{ dataFirstname }}</td>
                    <td *ngIf="game">{{ game.seconden }}</td>
                </tbody>    
            </table>
            <br />
            <button [ngClass]="'send_stats'" (click)="sendStats();">Send Stats</button>
            <h1 id="h1">Ranking Top 3</h1>
            <hr />
            <table id="Top3">
                <thead>
                        <th></th>
                        <th><strong>Username</strong></th>
                        <th><strong>Tijd</strong></th>
                </thead>
                <tbody>
                        <th><strong>1</strong></th>
                        <td></td>
                        <td></td>
                    </tbody>
                    <tbody>
                        <th><strong>2</strong></th>
                        <td></td>
                        <td></td>
                    </tbody>
                    <tbody>
                        <th><strong>3</strong></th>
                        <td></td>
                        <td></td>
                    </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
</body>