* {

}

.navbar {
    list-style: none;
    float: left;
}


#title {
    color: black;
    font-size: xx-large;
    padding-left: 20px;
    height: 50px;
} 

#board {
    text-align: center; 
}

.btn {
    height: 25px;
    width: 25px; 
    padding: 2px 5px 5px 5px;
}

.btnA {
    color: white;
    height: 15px;
    width: 75px; 
    overflow: hidden;
    margin: auto;
    border: 1px solid black;
    border-radius: 12px;
    margin-right: 15px;
    background-color: black;
    font-size: medium;
}


.start_timer {
    border: 1px solid black;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
    background-color: black;
}

.reset_timer {
    border: 1px solid black;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
    background-color: black;
}

.btntimer:hover {
    background: green;
}

#UserData {
    width: 100%;
}

#Top3 {
    width: 100%;
}

.timer {
    border: 1px solid black;
    border-radius: 12px;
    margin-right: 15px;
    color: white;
    background-color: black;
}

#h1 {
    width: 100%;
}

.send_stats {
    border: 1px solid black;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
    background-color: black;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: e-resize;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(10, 10, 10);
    cursor: e-resize;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(10, 10, 10);
    cursor: e-resize;
}

