.createbtn {
    background-color: rgb(31, 131, 212); /* Green */
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.createbtn {
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#span {
    display: block;
    padding-top: 100px;
}

 /* --------------------------------------------------*/

 
.cat-wrapper {
  padding: 2em;
  background-color: white;
  min-height: calc(100% - 4em);
  display: inline-block;
}

h2 { 
  color: #333;
  font-weight: 700; 
  /*font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif; */
  line-height: 20px;
  font-size: 12pt;
}

.category {
  background-color: #0079BF;
  height: 72px;
  width: 280px;
  color: white;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
  text-align: left;
  padding: 9pt 8px;
  border-radius: 3px;
  text-decoration: none;
}

.category .title {
  font-weight: 700; 
  /*font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif; */
  line-height: 20px;
  font-size: 12pt;
}

.add-cat {
  background-color: #e2e4e6;
  color: #8c8c8c;
}