<!--      START SCREEN TASKS      -->
<h3>Welcome to your task organiser!</h3>



<!--     CREATE & EDIT CATEGORY    -->
<div id="create-edit">
  <form>
    <label for="cat">Category: </label>
    <input type="text" id="category" [(ngModel)]="cat" name="cat">
    <button class="createbtn" (click)="createCategory()"> + </button>
  </form>
</div>



<!--     CATEGORY ASSEMBLY      -->

{{variable}}

<div class="cat-wrapper">

    <h2>Categorylist</h2>
    <div id="categorylist">

        <a class="category" *ngFor="let cati of categories" [routerLink]="">
        <span class="title">{{cat?.title}}</span></a>

      <a href="#" class="add-cat" (click)="addCategory()">
      <span class="title">Create a new category...</span></a>


    <!-- laat deze span even staan aub ^_^ -->
    <span id="span">You have no categories to organise...</span>
  </div>