<!--      START SCREEN TASKS      -->
<h3>Welcome to your task organiser!</h3>
<h4>Name: {{currentUser.firstName}} id: {{currentUser.id}}</h4>


<!--     CREATE & EDIT CATEGORY    -->
<div id="create-edit">
  <form>
    <label for="cat">Category: </label>
    <input type="text" id="category" [(ngModel)]="cat" name="cat">
    <button class="createbtn" (click)="createCategoryInDatabank()"> + </button>
  </form>
</div>



<!--     CATEGORY ASSEMBLY      -->
<div id="categorylist">
  <div *ngFor="let c of categories" class="cattab">

    <!-- VISIBLE WHEN CREATED -->
    <span class="cat_title">{{c.cat_description}}</span>
    <button class="deletebtn" (click)="deletebtn(c)"> x </button>
    <button class="editbtn" (click)="show = !show">edit </button>
    <button class="btnAddSubCat" (click)="createSubCat()">Add subcategory </button>

    <!-- VISIBLE WHEN IN EDIT MODUS -->
    <div *ngIf="show">
      <input type="text" class="cat_title" [(ngModel)]="c.cat_description" name="c.cat_description">
      <button class="savebtn" (click)="show = !show; editTitle(c);"> save </button>
      <button class="cancelbtn" (click)="show = !show"> cancel </button>
    </div>


  </div>

  <span *ngIf="categories.length === 0" id="span">You have no categories to organise...</span>
</div>