   <!-- SECOND PAGE / AFTER LOGIN  --> 

   <!-- Greeting User --> 
<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}! {{currentUser.id}}</h1>
    <p>You're logged in KABproductions!!</p>

    <!-- LINK TO TASK & LINK TO GAME --> 
    <h3>Navigation</h3>
<section>
    <div><a routerLink="/tasks" class="btn">Tasks</a></div>
    <div><a routerLink="/game" class="btn">Minesweeper</a></div>
</section>
           


           


    <!-- ALL REGISTERED USERS --> 
    <h3>Terug naar de hoofdmenu:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
       <!-- LOGOUT --> 
    <p><a [routerLink]="['/login']" class="btn">Logout</a></p>
</div>