<!-- SECOND PAGE / AFTER LOGIN  -->

<!-- Greeting User -->






<div class="jumbotron mt-5 text-center" style="background-color: #fff;">
    <h1 class="display-4">Hi {{currentUser.firstName}}! {{currentUser.id}}</h1>
    <p class="lead">You're logged in KABproductions!!</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg btn-block" href="#" role="button" routerLink="/tasks" >Tasks</a>
      <a class="btn btn-primary btn-lg btn-block" href="#" role="button" routerLink="/minesweeper">Minesweeper</a>
      <a class="btn btn-secondary btn-lg btn-block" href="#" role="button" [routerLink]="['/login']">Logout</a>
  
    </p>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  