.login {
    border: 5px solid #187923;
    padding: 20px;
    width: 670px;
    height: 200px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.btn {   
    padding: 10px 45px;
    background: rgb(53, 112, 223);
    color: #fff;
    border: 1px rgb(53, 112, 223) solid;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.btn:hover {
    background: none;
    color:rgb(53, 112, 223);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.taskgame{
    margin: 10px;
}
/* --------------------------
        btn logout 
 ------------------------------*/
.btnLog {   
    padding: 10px 45px;
    background: rgb(53, 112, 223);
    color: #fff;
    border: 1px rgb(53, 112, 223) solid;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.btnLog:hover {
    background: none;
    color:rgb(53, 112, 223);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

